
<title>cHARGEMOD HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css"> --}}
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="superstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<head>
    <style>
  body {
      position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
  </style>
</head>

<body>



<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  
  <div class="w3-center">
  <h4>CHARGE YOUR VEHICLE</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">ANYTIME ANYWHERE</h1>
    <div class="w3-padding-32">
      <button class="w3-btn w3-xlarge w3-teal w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;" href='about'>Right NOW</button>
    </div>
  </div>
</header>>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1"> 
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
        <h4>Visit www.chargemod.com</h4>
        <h5>Or visit your nearest showroom <i class="fa fa-smile-o"></i></h5>
      </header>
      <div class="w3-padding">
        <p>Download the app from playstore/applestore</p>
        <p>Go to our <a class="w3-btn" href="https://www.google.com/">search base</a> to learn more!</p>
      </div>
      <footer class="w3-container w3-theme-l1">
        <p style="color:orange" >Chargemod</p>
      </footer>
    </div>
</div>
<body class="w3-container  w3-padding" id="myHeader" style="background :paleturquoise">
  
  <div class="w3-center">
  <h4>GET YOUR POWER CARD TODAY</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">UNLIMITED POWER AT YOUR DISPOSAL</h1>
    <div class="w3-padding-32">
      <button class="w3-btn w3-xlarge w3-teal w3-hover-light-grey"  style="font-weight:900;" href='about'>gET My POweR cARD</button>
    </div>
  </div>
</body>
 <footer> <div class="w3-center">
    <body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="http://www.batterypowered.mobi">BPM POWER</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">Section 1</a></li>
          <li><a href="#section2">Section 2</a></li>
          <li><a href="#section3">Section 3</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#section41">Section 4-1</a></li>
              <li><a href="#section42">Section 4-2</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>    
</div>

<div id="section1" class="container-fluid">
  <h1>Section 1</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section2" class="container-fluid">
  <h1>Section 2</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section3" class="container-fluid">
  <h1>Section 3</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section41" class="container-fluid">
  <h1>Section 4 Submenu 1</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section42" class="container-fluid">
  <h1>Section 4 Submenu 2</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>

</body>
 </footer>
{{{body}}}
</body>