
<title>cHARGEMOD HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>



<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  
  <div class="w3-center">
  <h4>CHARGE YOUR VEHICLE</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">ANYTIME ANYWHERE</h1>
    <div class="w3-padding-32">
      <button class="w3-btn w3-xlarge w3-teal w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;" href='about'>Right NOW</button>
    </div>
  </div>
</header>>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1"> 
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
        <h4>Visit www.chargemod.com</h4>
        <h5>Or visit your nearest showroom <i class="fa fa-smile-o"></i></h5>
      </header>
      <div class="w3-padding">
        <p>Download the app from playstore/applestore</p>
        <p>Go to our <a class="w3-btn" href="https://www.google.com/">search base</a> to learn more!</p>
      </div>
      <footer class="w3-container w3-theme-l1">
        <p style="color:orange" >Chargemod</p>
      </footer>
    </div>
</div>
<footer class="w3-container  w3-padding" id="myHeader" style="background :paleturquoise">
  
  <div class="w3-center">
  <h4>GET YOUR POWER CARD TODAY</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">UNLIMITED POWER AT YOUR DISPOSAL</h1>
    <div class="w3-padding-32">
      <button class="w3-btn w3-xlarge w3-teal w3-hover-light-grey"  style="font-weight:900;" href='about'>gET My POweR cARD</button>
    </div>
  </div>
</footer>
{{{body}}}
</body>